body {
    color: rgb(163, 154, 154);
    background: rgb(94, 19, 19);
    margin: 0;
    padding: 0;
}

a {
    color: lightcoral;
}

li {
    padding-bottom: 10px;
}

#container {
    background: rgb(63, 1, 1);
    padding-left: 2%;
    margin: 3% 25% 0 3%;
}

noscript {
    color:rgb(63, 1, 1);
    font-size: 36px;
    background: white;
}
