body {
    margin: 0;
    padding: 0;
    background: black;
    color: green;
}

#introContainer, #transmissionContainer {
    width: 75%;
}

#intro, #transmission {
    border: 5px solid green;
    margin: 1em 3em;
    padding: 2em;
}

.arrowContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1em 0;
}

#arrowRight, #arrowRight2 {
    background-image: url('../Images/greenRightArrow.png');
    background-position: center;
    width: 6em;
    height: 4em;
    color: black;
    cursor: pointer;
}

#arrowRight:hover, #arrowRight2:hover, 
#arrowRight:focus, #arrowRight2:focus {
    border: 2px solid green;
}

@media (max-width: 950px) {
    #introContainer, #transmissionContainer {
        width: 95%;
    }
    #intro, #transmission {
        border: 5px solid green;
        margin: 1em;
        padding: 1em;
    }
}
