body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#landingSiteCanvas {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    z-index: 1;
}

#fsBackgroundEmpty {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
    display: grid;
}

#grid {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-image:
      repeating-linear-gradient(rgb(61, 48, 48) 0 1px, transparent 1px 100%),
      repeating-linear-gradient(90deg, rgb(61, 48, 48) 0 1px, transparent 1px 100%);
    background-size: 30px 30px;
    position: absolute;
    z-index: 2;
}

#itemsMenu {
    border: 3px solid rgb(117, 20, 20);
    border-radius: 10%;
    width: 150px;
    height: 200px;
    z-index: 3;
    position: absolute;
    background:rgb(173, 157, 157);
    margin-left: 55px;
}

.itemsRow {
    width: 120px;
    height: 40px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 100%;
}

.items {
    width: 30px;
    height: 30px;
    padding: 2px;
    border: 1px solid black;
    margin-top: 10px;
    border-radius: 10%;
    background:rgb(131, 120, 120);
    background-repeat: no-repeat;
    z-index: 3;
}

.items:hover, .items:focus {
    width: 110px;
    height: 80px;
    z-index: 4;
    padding-top: 30px;
} 

.items:hover .itemText, .items:focus .itemText {
    display: contents;
    width: 110px;
    height: 80px;
    z-index: 4;
    padding-top: 30px;
}


#item1Text:hover, #item2Text:hover, #item1Text:focus, #item2Text:focus {
    display: contents;
    width: 110px;
    height: 80px;
    z-index: 4;
    padding-top: 30px;
}

.itemText {
    display: none;
}

#itemsCloseBtn {
    width: 50px;
    height: 20px;
    margin-left: 22%;
    background:rgb(173, 157, 157);
    border-radius: 15%;
}

#fullMenu {
    position: absolute;
    width: 300px;
    height: 450px;
    margin-left: 35%;
    margin-top: 5%;
    border: 3px solid rgb(117, 20, 20);
    background:rgb(131, 120, 120);
    z-index: 3;
    border-radius: 10%;
    padding-top: 20px;
}

.menuRow {
    display: grid;
    width: 200px;
    height: 50px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    margin-left: 15%;
}

.menuRow button {
    width: 75px;
    height: 45px;
    background:rgb(173, 157, 157);
    border-radius: 10%;
}

#closeMenuBtn {
    width: 75px;
    height: 40px;
    background:rgb(173, 157, 157);
    margin-left: 30%;
    border-radius: 10%;
}

#fullMenu:hover button {
    cursor: pointer;
}

#menuAltBtn {
    height: 33px;
    width: 33px;
    background-image: url('../Images/newMenu.png');
    z-index: 3;
    position: absolute;
    border-radius: 20%;
}

#menuAltBtn:hover {
    cursor: pointer;
}
