body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#landingSiteCanvas {
    background: black;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
}

#fsBackgroundEmpty, #playerImage {
    display: none;
}

#grid {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-image:
      repeating-linear-gradient(#ccc 0 1px, transparent 1px 100%),
      repeating-linear-gradient(90deg, #ccc 0 1px, transparent 1px 100%);
    background-size: 40px 40px;
    position: absolute;
    
}

#menu {
    width: 40px;
    height: 40px;
    background: grey;
    position: absolute;
    background: url('../.././Images/menu-icon.png');
    appearance: none;
    border-radius: 15%;
    border: 1px solid rgb(37, 44, 44);
}

option {
    border-bottom: 2px solid black;
    padding: 20px;
    background: rgb(211, 207, 207);
}
