body {
    margin: 0;
    padding: 0;
    background: black;
    background-image: url('https://github.com/KSmith8888/Desolation-Mars-2074/blob/main/Images/planetBackground.png?raw=true');
    background-position: 50% 25%;
    background-repeat: no-repeat;
    text-align: center;
    
}

#header {
    font-family: arial;
    grid-column: 2/2;
    grid-row: 2/2;
}

#container {
    grid-template-columns: 40vw 20vw 40vw;
    grid-template-rows: 30vh 15vh 5vh 5vh 5vh 40vh;
    display: grid;
}

#newGameLink {
    grid-column: 2/2;
    grid-row: 3/3;
}

#continueGameLink  {
    grid-column: 2/2;
    grid-row: 4/4;
}

#optionsLink {
    grid-column: 2/2;
    grid-row: 5/5;
}

button {
    width: 150px;
    height: 25px;
    border-radius: 5%;
    background: rgb(94, 19, 19);
    color: lightcoral;
}
